*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: green;
    padding: 15px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 15px;
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.Dropdown{
    position: relative;
}
.Dropdown_content{
    list-style: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: goldenrod;
    display: none;
    max-width: 150px;
}
.Dropdown_content li a{
    display: block;
    padding: 5px;
}
.Dropdown:hover .Dropdown_content{
    display: block;
}
.menu li a:hover{
    background-color: grey;
    border-radius: 5px;
}