body {
    background-color: black;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}


.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 29px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.links a:hover {
    color: none;
    text-decoration: none;
}

.links a:active {
    color: none;
}

.g1 {
    text-align: center;
    color: white;
    font-size: 29;
    font-weight: bold;
}

.con {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8xp;
    box-shadow: 0 0 10p white;
    font-family: Arial, Helvetica, sans-serif;
}

.con h1 {
    text-align: center;
    margin-bottom: 20px;
}

.con label {
    display: block;
    margin: 5px 0 2px;
}

.con input {
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

.button {
    display: block;
    color: white;
    background-color: black;
    cursor: pointer;
}