body{
    background-color: black;
}
.grimm{
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8xp;
    box-shadow: 0 0 10p white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #ccc;
}
.grimm h1{
    text-align: center;
    margin-bottom: 20px;
}
.grimm label{
    display: block;
    margin-bottom: 10px 0 5px;
}
.grimm input{
   padding: 10px;
   margin-bottom: 15px;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 4px; 
}
.btn{
    width: 100%;
    background: #007BFF;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}